<p>Olá, <strong>{{ providerName }}</strong></p>
<p>Um agendamento foi <strong>cancelado</strong>. Confira os detalhes abaixo:</p>

<strong>Detalhes:</strong><br>
<ul>
    <li><strong>Cliente:</strong> {{ userName }} </li>
    <li><strong>Data:</strong> {{ date }} </li>
</ul>

<br>

<small>O horário está disponível novamente.</small><br>
